---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header";
import Footer from "@/components/Footer";

import { Card, CardContent } from "@/components/ui/card";
---

<Layout title="Landing App" description="A great description of my page.">
	<Header client:load />
	<main class="p-6">
		<Card>
			<CardContent>
				<h1>Hello, Landing App!</h1>
			</CardContent>
		</Card>
	</main>
	<Footer client:load />
</Layout>
